<nb-card [size]="'small'"
         [nbSpinner]="isProcessing"
         nbSpinnerSize="giant"
         nbSpinnerStatus="primary">

  <nb-card-body>
    <nb-actions fullWidth size="giant">
      <input #imageFile
             type="file"
             accept="image/*"
             (change)="processFile(imageFile.files)">
      <nb-action icon="cloud-upload-outline"
                 [hidden]="isProcessing"
                 (click)="imageFile.click()">
      </nb-action>
    </nb-actions>
  </nb-card-body>

</nb-card>
