<nb-layout>
  <nb-layout-header fixed>Kime</nb-layout-header>

  <nb-layout-column class="login-box">
    <nb-card [nbSpinner]="isLoading" nbSpinnerSize="xlarge">
      <nb-card-header>Get started!</nb-card-header>
      <nb-card-body>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <nb-alert status="warning" [hidden]="!error || isLoading">Incorrect username or password!</nb-alert>
            <input type="text" nbInput fullWidth fieldSize="medium" formControlName="username" placeholder="Username">
            <input type="password" nbInput fullWidth fieldSize="medium" formControlName="password" placeholder="Password">
            <nb-checkbox class="login-checkbox" formControlName="remember">Keep me logged in</nb-checkbox>
            <button nbButton class="login-button" [size]="'small'" type="submit" [disabled]="loginForm.invalid || isLoading">Login</button>
          </form>
      </nb-card-body>

      <nb-card-footer class="login-footer">
        <a routerLink="/signup" routerLinkActive="active">Don't have an account?</a>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
