@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

:host {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.gallery-container {
  display: inline-block;
  padding: 1em;
  width: 20%;
}

@include media-breakpoint-down(md) {
  .gallery-container {
    width: 25%;
  }
}

@include media-breakpoint-down(sm) {
  .gallery-container {
    width: 33%;
  }
}

@include media-breakpoint-down(xs) {
  .gallery-container {
    width: 50%;
  }
}
