@import "src/theme/theme-variables";

:host {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-containter {
  display: flex;
  align-items: center;
}

.nav-containter {
  display: flex;
  align-items: center;
  width: 100%;
}

.control-item {
  display: block;
}

.logo {
  padding: 0 nb-theme(padding);
  font-size: 1.75rem;
  font-weight: nb-theme(font-weight-bolder);
  white-space: nowrap;
  width: 50px;
}

.right {
  justify-content: flex-end;
  width: 100%;
}
